

.vistas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  background: #222;
  padding: 10px;
}
.vistas button {
  background: #0f172a;
  color: white;
  border: none;
  font-size: 22px;
  margin: 4px;
  padding: 12px 17px;
  border-radius: 8px;
  cursor: pointer;
}
.vistas button:hover {
  background: #666;
}


/*===Vista Inicio*/
.card {
  background: linear-gradient(145deg, #1e293b, #0f172a);
  border: 2px solid #3b82f6;
  border-radius: 16px;
  padding: 20px;
  width: 360px;
  box-shadow: 0 0 20px rgba(59,130,246,0.6);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 18px;
  }

#botonPalanca {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transition: 0.3s ease;
  align-items: center;
  margin: 0 auto;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  width: 100%;
  min-width: 140px;
  max-width: 190px;
  min-height: 44px;
  display: block;
}

#botonPalanca.activo {
  background-color: #ffcb05;
  color: #000;
  border: 2px solid #f2b400;
  cursor: pointer;
}

/*REDES*/
  .footer-social {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .footer-social button {
    background: #111;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
  }

  .footer-social button:hover {
    background: #444;
    transform: translateY(-2px);
  }

/*===Vista perfil===*/
.perfil-card{
  background: linear-gradient(135deg, #0a2a43, #0f4c75);
  border-radius: 14px;
  padding: 16px;
  color: #eaf6ff;
  font-family: "Segoe UI", Arial, sans-serif;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #bfe9ff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 6px;
}

/*  PANEL DT */
.perfil-main {
  display: flex;
  gap: 14px;
  align-items: center;
}

.perfil-foto {
  width: 90px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #4da3ff;
  background: #08304f;
}

.perfil-lines {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.perfil-nombre {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.perfil-equipo,
.perfil-text {
  margin: 0;
  font-size: 14px;
  color: #cfe9ff;
}

.sala-trofeos {
  margin-top: 25px;
  padding: 18px;
  border-radius: 15px;
  background: linear-gradient(180deg, #1c1c1c, #0f0f0f);
  box-shadow: inset 0 0 15px rgba(255, 215, 0, 0.15);
}


.titulo-trofeos {
  text-align: center;
  margin-bottom: 15px;
  color: gold;
}

.trofeos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 10px;
}

.trofeo {
  flex: 1;
  text-align: center;
  padding: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
}

.trofeo img {
  width: 30px;
  margin-bottom: 5px;
}

.torneo img{
  width: 40px;
   margin-bottom: 5px;
}

.trofeo p {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  color: gold;
}

.contadores_trofeos {
  display: flex;
}

.copa,
.super,
.liga,
.torneo,
.lib {
  background: linear-gradient(145deg, #1e293b, #0f172a);
  margin: 0 auto;
  width: 160px;
 }

 
#moralHinchada {
  font-size: 14px;
  color: #f1f5f9;
  margin-bottom: 4px;
  border: 2px solid #3b82f6;
  color: #ffdf00;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 12px;
  display: inline-block;
}

.barra-moral {
  width: 100%;
  height: 8px;
  background: #334155;
  border-radius: 10px;
  overflow: hidden;
}

.relleno-moral {
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, #facc15, #f59e0b);
  border-radius: 10px;
  transition: width 0.3s ease;
}


/*=== VISTA GESTIÓN ===*/
#equipoUsuario ,
#selectorEquipo, #equipos, 
#selectEquipoSegunda,
#selectEquipoRefundar{
  width: 130px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}


#equipoUsuario:hover {
  border-color: #2980b9;
}

#equipoUsuario:focus {
  border-color: #1abc9c;
  background-color: #ffffff;
}

#selectorContenedor{
  background: linear-gradient(145deg, #1e293b, #0f172a);
  height: auto;
  padding:4px;
  border-radius: 8px;
  display:flex;
  gap:10px;
  }

#selectorContenedor select{
  background-color: #f0f9ff;
  height:40px;
  border-radius: 8px;
  padding:4px;
  margin: 0 auto;
  }

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.dt-card,
.estado {
  background: linear-gradient(135deg, #0a2a43, #0f4c75);
  border-radius: 14px;
  padding: 16px;
  color: #eaf6ff;
  font-family: "Segoe UI", Arial, sans-serif;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #bfe9ff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 6px;
}

/*  PANEL DT */
.dt-main {
  display: flex;
  gap: 14px;
  align-items: center;
}

.dt-foto {
  width: 90px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #4da3ff;
  background: #08304f;
}

.dt-lines {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dt-nombre {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.dt-estilo {
  margin: 0;
  font-size: 14px;
  color: #cfe9ff;
}

#fuerzaEquipo {
  font-weight: bold;
  color: #6ec6ff;
}

#estrellasEquipo {
  font-size: 16px;
  color: #ffd86b;
}

#mediaEquipo {
  font-size: 13px;
  color: #a9d9ff;
}

/* PANEL ACCIONES */

.accion-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background: linear-gradient(135deg, #0a2a43, #0f4c75);
  border-radius: 14px;
  padding: 16px;
  color: #eaf6ff;
  font-family: "Segoe UI", Arial, sans-serif;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

.accion-btn button {
  position: relative;
  width: 80%;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.accion-btn button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accion-btn button span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  background: rgba(0, 0, 0, 0.5); /* fondo oscuro */
  color: white;
  font-size: 14px;
  text-align: center;
}

.accion-btn button:hover {
  background: #2596e6;
  transform: scale(1.02);
}

.accion-btn h2 {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}



/* ESTADO DEL CLUB */
.estado p {
  font-size: 15px;
  color: #d4ecff;
}

#ventaCamisetasContainer {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.08);
  border-radius: 8px;
}

/* REFUNDAR */
.refundar-panel {
  max-width: 400px;
  background: linear-gradient(135deg, #3a0f1a, #5a1a2a);
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.refundar-panel select,
.refundar-panel button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#moralHinchadaContainer {
  margin-top: 10px;
}

/*===Vista Simulación===*/

.controles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: linear-gradient(145deg, #1e293b, #0f172a);
  color:white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  justify-items: center;
  }

.controles button {
  position: relative;
  width: 50%;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #0b3c78;
  padding: 0;
  border: none;
  cursor: pointer;
}

 button span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.controles button:hover {
  background-color: #3399ff;
  transform: scale(1.03);
}
.controles h2 {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

/*===Vista Noticias===*/

#noticiasTwitter {
  background: #e9ecef;
  padding: 10px;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.tweet {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
  font-family: Arial, sans-serif;
}

.tweet-header {
  display: flex;
  align-items: center;
}

.tweet-foto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.tweet-user {
  font-weight: bold;
  color: #1d9bf0;
}

.tweet-body {
  margin-top: 5px;
}


/* ===Vistas Configuración === */
.menu-seccion {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 20px;
  background: #f8f8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.menu-seccion label {
  font-weight: bold;
  color: #333;
}

.opcion {
  margin-bottom: 20px;
}


/* PANEL FUERZA*/
.panel-fuerzas {
  background: linear-gradient(135deg, #0b3c78, #0e5aa7);
  padding: 24px;
  border-radius: 18px;
  color: white;
}

.grid-fuerzas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  max-width: 800px;
}

.tarjeta-fuerza {
  background: white;
  color: #0b3c78;
  border-radius: 14px;
  padding: 6px;
  box-shadow: 0 10px 24px rgba(0,0,0,.18);
  transition: transform .2s ease, box-shadow .2s ease;
}

.tarjeta-fuerza:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0,0,0,.25);
}

.tarjeta-fuerza h4 {
  margin: 0 0 10px;
  font-size: 0.95rem;
  font-weight: 800;
}

.fila-datos {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-bottom: 4px;
}

.fila-datos span {
  font-weight: 600;
}

.fuerza-total {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid #dbe7f5;
  font-size: 0.85rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.diferencia {
  margin-top: 4px;
  font-weight: 800;
  font-size: 0.75rem;
}

.diff-positiva { color: #d93333; }
.diff-negativa { color: #1aa34a; }
.diff-neutra   { color: #777; }

.usuario {
  border: 2px solid #0e5aa7;
  background: linear-gradient(135deg, #ffffff, #e6f1ff);
}

.btn-actualizar {
  background: linear-gradient(135deg, #ffffff, #e6f1ff);
  color: #0b3c78;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-bottom: 18px;
}

.btn-actualizar:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

/*===Vista Plantilla===*/
.grid-equiposA {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.equipo-btnA {
  background: #1e293b;
  color: white;
  border: none;
  padding: 6px;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.grid-equiposB {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.equipo-btnB {
  background: #1e293b;
  color: white;
  border: none;
  padding: 6px;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.equipo-btnA:hover {
  background: #3b82f6;
  transform: scale(1.05);
}

.equipo-btnB:hover {
  background: #3b82f6;
  transform: scale(1.05);
}